services:
  # Workers for the existing deployed Vector contracts.
  ## Hex Devnet
  - type: worker
    runtime: rust
    name: sp1vector-hex:sepolia
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: AVAIL_URL
        value: wss://rpc-hex-devnet.avail.tools/ws
      - key: AVAIL_CHAIN_ID
        value: hex
      - key: SP1_PROVER
        value: mock
      - key: VECTORX_QUERY_URL
        value: https://vectorx-query.succinct.xyz
      - key: CHAIN_ID
        value: 11155111
      - key: CONTRACT_ADDRESS
        value: 0xbc281367e1F2dB1c3e92255AA2F040B1c642ec75
      - key: BLOCK_UPDATE_INTERVAL
        value: 30
      - key: LOOP_INTERVAL_MINS
        value: 5
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  ## Turing Testnet
  - type: worker
    runtime: rust
    name: sp1vector-turing:sepolia
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: CHAIN_ID
        value: 11155111
      - key: CONTRACT_ADDRESS
        value: 0xe542db219a7e2b29c7aeaeace242c9a2cd528f96
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  - type: worker
    runtime: rust
    name: sp1vector-turing:arbsepolia
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: CHAIN_ID
        value: 421614
      - key: CONTRACT_ADDRESS
        value: 0xA712dfec48AF3a78419A8FF90fE8f97Ae74680F0
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  - type: worker
    runtime: rust
    name: sp1vector-turing:basesepolia
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: CHAIN_ID
        value: 84532
      - key: CONTRACT_ADDRESS
        value: 0x13cBE46E168460a101c07efb6Ab7B9ec637F02aA
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  - type: worker
    runtime: rust
    name: sp1vector-turing:holesky
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: CHAIN_ID
        value: 17000
      - key: CONTRACT_ADDRESS
        value: 0x8a48b5184dEc29E7276BF74d1C1d30d032F31e19
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  - type: worker
    runtime: rust
    name: sp1vector-mainnet:mainnet
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: script
    buildCommand: rm -rf build.rs && cargo build --bin operator --release
    startCommand: cargo run --bin operator --release
    autoDeploy: true
    envVars:
      - key: CHAIN_ID
        value: 1
      - key: CONTRACT_ADDRESS
        value: 0x02993cdC11213985b9B13224f3aF289F03bf298d
      - key: RUST_LOG
        value: info
      - key: PRIVATE_KEY
        sync: false
      - key: RPC_URL
        sync: false
  - type: worker
    runtime: rust
    name: indexer-mainnet-new
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: services
    buildCommand: cargo build --bin indexer --release
    startCommand: cargo run --bin indexer --release
    autoDeploy: true
    envVars:
      - key: AVAIL_URL
        value: wss://zenitsu-rpc.slowops.xyz/ws
      - key: AVAIL_CHAIN_ID
        value: mainnet
      - key: RUST_LOG
        value: info
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: KEY_ID
        sync: false
  - type: worker
    runtime: rust
    name: indexer-turing-new
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: services
    buildCommand: cargo build --bin indexer --release
    startCommand: cargo run --bin indexer --release
    autoDeploy: true
    envVars:
      - key: AVAIL_URL
        value: wss://turing-rpc.avail.so/ws
      - key: AVAIL_CHAIN_ID
        value: turing
      - key: RUST_LOG
        value: info
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: KEY_ID
        sync: false
  - type: worker
    runtime: rust
    name: indexer-hex-new
    repo: https://github.com/succinctlabs/sp1-vector
    region: oregon
    plan: standard
    rootDir: services
    buildCommand: cargo build --bin indexer --release
    startCommand: cargo run --bin indexer --release
    autoDeploy: true
    envVars:
      - key: AVAIL_URL
        value: wss://rpc-hex-devnet.avail.tools/ws
      - key: AVAIL_CHAIN_ID
        value: hex
      - key: RUST_LOG
        value: info
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: KEY_ID
        sync: false
