name: PR

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "**"
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Formatting & Clippy
    runs-on: [runs-on, runner=16cpu-linux-arm64	, "run-id=${{ github.run_id }}"]
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt

      - name: Run rustfmt
        run: cargo fmt --all -- --check
        env:
          CARGO_INCREMENTAL: 1

      - name: Run cargo clippy
        run: cargo clippy --all-features --all-targets -- -D warnings -A incomplete-features
        env:
          CARGO_INCREMENTAL: 1

  elf:
    runs-on:
      - runs-on
      - runner=16cpu-linux-x64
      - run-id=${{ github.run_id }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version
          source ~/.bashrc
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Verify the SP1 Vector Binary
        run: |
          # Build the binaries
          cd program
          ~/.sp1/bin/cargo-prove prove build --elf-name vector-elf --docker --tag v4.1.3 --output-directory ../elf
          cd ../
          # Check for any changes in the elf directory
          if [ -n "$(git status --porcelain elf/)" ]; then
            echo "❌ ELF files changed during build!"
            git diff elf/
            exit 1
          else
            echo "✅ ELF files remained unchanged"
          fi